

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.highlight{
    color: #FD6E0A;
}
  nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
}
.dark-2{
    color: #474747;
} 
nav ul{
    display: flex;
    align-items: center;
}
.btn{
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px ;
}